*{
    box-sizing: border-box;
}
html{
    background-color: #f4f8fa;
    overflow: hidden;
}

.main{
    display: flex;
    width: 100%;
    flex-direction: column;
    object-fit:cover;
    height:auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35%;
    height:auto;

}

.countdown{
    position: absolute;
    bottom:10%;
    background-color: #fff;
    width:350px;
    height: 72px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "courier new";
    font-size: 36px;
    color: #42628B;

}


/* .text{
    background-color: blue;
    color:white;
} */
@media screen and (max-width: 768px){
/* .text{
    background-color: red;
} */
    img{
    
    width:100%;
    height:auto;
}
.right-cloud{
    position:absolute;
    z-index: -1;
    width:100%;
    
    height:auto;
    overflow-x: hidden;
}
.bottom-cloud{
    position:absolute;
    width: 100%;
    
    height: auto;
    overflow-x: hidden;
    
}
}



